body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
#headshot {
    width: 500px;
}

#body-container {
  margin-top: 50px;
  margin-bottom: 50px;
  background: white;
  border-radius: 5px;
  border-image: none;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#res-container {
  /* background-color:green; */
  margin: auto;
  width: 1000px;
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  justify-content: space-evenly;
}

.img {
  /* align-self: "center"; */
  width: 400px;
  height: 500px;
}

.res-para {
  /* align-self: "center"; */
  width: 400px;
  height: 500px;
}